
/*  RESPONSIVE
==============================================$re */

/* s-desktop */
@media (max-width: 860px) {
    #home[class] .geoBlock .inner {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* tablet */
@media (max-width: 600px) {
    #home[class] .column {
        width: 100%;
    }

    #home[class] .geoBlock .inner {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* phone */
@media screen and (max-width: 500px) {
    /* increase font-size and spacing */
    #home[class] .geoUnit h3 {
        padding-bottom: 2px;
    }
    #home[class] .geoUnit li {
        font-size: 15px;
        padding-top: 7px;
    }
    #home[class] .geoUnit {
        padding-bottom: 3px;
    }
    #home[class] #navLinkList li {
        font-size: 15px;
        line-height: 25px;
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 8px;
    }
}

/* m-phone */
@media (max-width: 480px) {
    /* showing added on click */
    #home[class] .geoBlock .inner.showing {
        display: block;
    }
    #home[class] .geoBlock .inner {
        display: none; /* hide geoblock ontent by default click to open */
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding: 8px 4px;
    }
    #home[class] .geoBlock h2 {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

/* s-phone */
@media (max-width: 310px) {

    #home[class] .geoBlock .inner {
        /* on very narrow screens switch to one column */
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
    }

}
